/*--------------------------------------------------------------------
    ___  _______   ________   ________      
   |\  \|\  ___ \ |\   ___  \|\   ___  \    
   \ \  \ \   __/|\ \  \\ \  \ \  \\ \  \   
 __ \ \  \ \  \_|/_\ \  \\ \  \ \  \\ \  \  
|\  \\_\  \ \  \_|\ \ \  \\ \  \ \  \\ \  \ 
\ \________\ \_______\ \__\\ \__\ \__\\ \__\
 \|________|\|_______|\|__| \|__|\|__| \|__|
 
 Coded by @renrutnnej �
--------------------------------------------------------------------*/



body {
  background-image: url(/images/landing.jpg);
  background-position: center
  font-family: 'governorregular'
  font-weight: normal;
  font-style: normal;
  min-height: 100%;
  font-size: 16px;
  line-height: 1.5;
  color: #45bfa4;
 }

@font-face {
 font-family: 'governorregular';
    src: url('governor-webfont.eot');
    src: url('governor-webfont.eot?#iefix') format('embedded-opentype'),
         url('governor-webfont.woff2') format('woff2'),
         url('governor-webfont.woff') format('woff'),
         url('governor-webfont.ttf') format('truetype'),
         url('governor-webfont.svg#governorregular') format('svg');
  font-weight: normal;
  font-style: normal;
  min-height: 100%;
  font-size: 16px;
  line-height: 1.5;
  color: #45bfa4;
  text-rendering: optimizeSpeed;
}

h1 {        
  font-family: 'governorregular'
  background-color: none;    
  border: 1px solid;    
  color:#45bfa4;    
  text-align: center;    
}

a:active, 
a:visited {text-decoration: none;   
}

a {
  background-color: transparent;
}

td {    
  border: 0px;    
  text-align: center;    
}

p {    
  font-family: 'governorregular';
  color:# #45bfa4;    
  text-indent: 20px;        
}
