/*--------------------------------------------------------------------
    ___  _______   ________   ________      
   |\  \|\  ___ \ |\   ___  \|\   ___  \    
   \ \  \ \   __/|\ \  \\ \  \ \  \\ \  \   
 __ \ \  \ \  \_|/_\ \  \\ \  \ \  \\ \  \  
|\  \\_\  \ \  \_|\ \ \  \\ \  \ \  \\ \  \ 
\ \________\ \_______\ \__\\ \__\ \__\\ \__\
 \|________|\|_______|\|__| \|__|\|__| \|__|
 
 Coded by @renrutnnej �
--------------------------------------------------------------------*/

body {
  margin: 25px;
  padding: 25px;	
  background-image: url(/images/landing.jpg);
  background-attachment: fixed;
  background-position: relative;
  background-repeat: no-repeat;
  webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
  line-height: 1.5;
  font-family: 'governorregular';
  src: url('webfontkit/governor-webfont.eot');
  color: #45bfa4;
  
font-face {
    font-family: 'governorregular';
    src: url('webfontkit/governor-webfont.eot');
    src: url('webfontkit/governor-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfontkit/governor-webfont.woff2') format('woff2'),
         url('webfontkit/governor-webfont.woff') format('woff'),
         url('webfontkit/governor-webfont.ttf') format('truetype'),
         url('webfontkit/governor-webfont.svg#governorregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
  font-family: 'governorregular';
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

a:active {
  color: #ff9a5c;
} 
a:visited {
  color: #ff9a5c;   
}

a {
  color: #ff9a5c;
}

p {    
  margin: 25px 0;
  line-height: 140%;
  font-family: 'governorregular';
  font-size: 50px;
  text-indent: 20px;        
}

.main-content {
    font-family: 'governorregular';
    font-size: 50px;
    color: #45bfa4;
}
