/*--------------------------------------------------------------------
    ___  _______   ________   ________      
   |\  \|\  ___ \ |\   ___  \|\   ___  \    
   \ \  \ \   __/|\ \  \\ \  \ \  \\ \  \   
 __ \ \  \ \  \_|/_\ \  \\ \  \ \  \\ \  \  
|\  \\_\  \ \  \_|\ \ \  \\ \  \ \  \\ \  \ 
\ \________\ \_______\ \__\\ \__\ \__\\ \__\
 \|________|\|_______|\|__| \|__|\|__| \|__|
 
 Coded by @renrutnnej �
--------------------------------------------------------------------*/

@font-face {
    font-family: 'governorregular';
    src: url('governor-webfont.eot');
    src: url('governor-webfont.eot?#iefix') format('embedded-opentype'),
         url('governor-webfont.woff2') format('woff2'),
         url('governor-webfont.woff') format('woff'),
         url('governor-webfont.ttf') format('truetype'),
         url('governor-webfont.svg#governorregular') format('svg');
    font-weight: normal;
    font-style: normal;

body { 
  font-family: arial;
  src: url(governor.ttf);
}

div {
    font-family: myFirstFont;
}

h1 {        
  background-color:#CCC;    
  border: 1px solid;    
  color:#39F;    
  text-align: center;    
}

a:active, 
a:visited {text-decoration: none   
}

td {    
  border: 0px;    
  text-align: center;    
}

p {    
  color:#09F;    
  text-indent: 20px;        
}
